* {
  margin: 0;
  padding: 0;
  font-family: fantasy;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.app {
  background-color: rgba(253, 255, 255, 1);
  padding: 20px 30px;
  height: 70%;
  text-align: center;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  width: 500px;
}

.app h1 {
  font-size: 3rem;
  border-bottom: #ffffff;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 30px;
}
.quiz {
  margin-top: 5%;
  padding: 5%;
  font-size: 35px;
}
.quiz h2 {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  background-color: #fafafa;
  color: #1b1b1b;
  font-weight: 500;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.fade-out {
  opacity: 0;
  transition: 0.4s;
  pointer-events: none;
}

.btn:hover:not([disabled]) {
  background-color: #2c2c2c;
  color: white;
}

#ansBtn {
  display: block;
  width: 100%;
  margin: 20px 0;
}

#nextBtn {
  position: absolute;
  font-size: 1rem;
  background-color: #131e80;
  color: white;
  font-weight: 300;
  height: 5%;
  width: 13%;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.correct {
  background: rgb(49, 216, 49);
}

.incorrect {
  background: rgb(214, 60, 60);
}
